<?xml version="1.0"?>

<launch>
    <arg name="radar1"                 default="radar1"/>
    <arg name="radar1_lua"             default="configs/1443/1443_mmwavestudio_config.lua"/>
    <arg name="radar1_host_ip"         default="172.22.244.187"/>
    <arg name="radar1_host_data_port"  default="4098"/>

    <group ns="$(arg radar1)">
        <node name="xwr_radar" pkg="xwr_raw_ros" type="dca_data.py" required="true"  output="screen"
            args="$(arg radar1_lua)     
            --host_ip=$(arg radar1_host_ip) 
            --host_data_port=$(arg radar1_host_data_port)"/>

        <!-- <node name="xwr_visualizer" pkg="xwr_raw_ros" type="visra.py" args="" output="screen"/> -->
    </group>

</launch>
